<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/48938155eb24b4ccdde09426066869504c6dab3c/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/style/todos.css"/>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
    <div class="container"></div>
    <div id="todoapp">

      <header>
        <h1>Todos</h1>
        <input id="new-todo" type="text" placeholder="What needs to be done?">
      </header>

      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list" id="todo-list"></ul>
        <div id="todo-list-react"></div>
      </section>

      <footer>
        <a id="clear-completed">Clear completed</a>
        <div id="todo-count"></div>
      </footer>

    </div>

    <div id="instructions">
      Double-click to edit a todo.
    </div>

    <div id="credits">
      Created by
      <br />
      <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
      <br />Rewritten by: <a href="https://github.com/tastejs/todomvc">TodoMVC</a>.
    </div>

    <script src="src/vendor/json2.js"></script>
    <script src="src/vendor/jquery.js"></script>
    <script src="src/vendor/underscore.js"></script>
    <script src="src/vendor/backbone.js"></script>
    <script src="src/backbone.localStorage.js"></script>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="view">
        <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
        <label><%- title %></label>
        <a class="destroy"></a>
      </div>
      <input class="edit" type="text" value="<%- title %>" />
    </script>

    <script type="text/template" id="stats-template">
      <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
      <% } %>
      <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
    </script>

  </body>
  <script src="/bundle.js"></script>
</html>
